@import ./import/_reset.sass
@import ./import/_mixin.sass

html, body
    width: 100%
    height: 100%
    font-family: sans-serif

body
    background-image: url(../images/bg/bg.jpg)
    background-attachment: fixed
    +vp(background-size, cover)
    color: #FFF

#nav_bar
    position: fixed
    background: #000
    top: 0
    left: 0
    width: 100%
    text-align: center
    z-index: 999

.nav_wrapper
    display: inline-block
    padding: 0 10px
    .nav_item
        display: inline-block
        font-family: "Comfortaa", cursive
        padding: 25px 10px
        font-size: 22px
        a
            color: #FFF
            &:active, &:hover
                color: #0776bd

.container
    display: table-cell
    text-align: center
    vertical-align: middle

#home
    display: table
    width: 100%
    height: 100%
    background-image: url(../images/bg/home_bg_c.png)
    background-attachment: fixed
    +vp(background-size, cover)
    h2
        font-family: "Comfortaa", cursive
        font-size: 32px
        font-weight: normal

.logo_wrapper
    display: inline-block
    position: relative
    width: 65%
    max-width: 350px
    overflow: hidden
    margin-top: -10%
    margin-bottom: 10%
    .logo
        position: relative
        width: 100%
        margin-left: 0
        padding-top: 100%
        +vp(opacity, 0)
        img
            width: 100%
            left: 0
            top: 0
            right: 0
            bottom: 0
            position: absolute

.scroll_icon
    position: absolute
    text-align: center
    bottom: 8%
    width: 100%
    height: 5%
    z-index: 2
    +vp(animation-duration, 2s)
    +vp(animation-name, scroll_wow)
    +vp(animation-iteration-count, infinite)
    +vp(animation-timing-function, linear)
    +vp(animation-fill-mode, forwards)
    img
        height: 100%

+keyframes(scroll_wow)
    0%
        +vp(opacity, 1)
    50%
        +vp(opacity, 0)
    100%
        +vp(opacity, 1)
