@import ./import/_reset.sass
@import ./import/_mixin.sass

#nav_bar
    position: fixed
    background: #000
    top: 0
    left: 0
    width: 100%
    text-align: center
    z-index: 999

.nav_wrap
    display: inline-block
    padding: 0 10px
    .nav_item
        display: inline-block
        font-family: "Comfortaa", cursive
        padding: 25px 10px
        font-size: 22px
        a
            color: #FFF
            &:active, &:hover
                color: #0776bd
